<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.g_open.net_worm.db.mapper.DbIpInfo">

	<select id="selectCountByLocationAndEndLong" parameterType="cn.g_open.net_worm.db.model.IpInfo" resultType="java.lang.Integer">
		select count(1)
		  from ip_info
		 where location = #{location}
		 <![CDATA[
		   and startLong <= #{endLong}
		   and endLong >= #{endLong} - 1
		 ]]>
	</select>
	
	<select id="selectLocationByStartLongAndEndLong" parameterType="cn.g_open.net_worm.db.model.IpInfo" resultType="java.lang.String">
		select location
		  from ip_info
		<![CDATA[
		 where startLong <= #{endLong}
		   and endLong >= #{endLong} - 1
		 ]]>
	</select>
	
	<insert id="insertIpInfo" parameterType="cn.g_open.net_worm.db.model.IpInfo">
		insert into ip_info
		(startLong, endLong, location, createBy, modifyBy)
		values
		(#{startLong}, #{endLong}, #{location}, #{createBy}, #{modifyBy})
	</insert>

	<update id="updateEndLongByLocation" parameterType="cn.g_open.net_worm.db.model.IpInfo">
		update ip_info set
			endLong = #{endLong},
			modifyBy = #{modifyBy},
			modifyDate = now()
		where location = #{location}
		<![CDATA[
		   and startLong <= #{endLong}
		   and endLong >= #{endLong} - 1
		 ]]>
	</update>
</mapper>